<ion-view view-title="Scanner">
    <ion-content style="background: #e8ebf1;" class="padding">
        <div class="card">
            <div class="item">
                <button class="button button-block button-positive" ng-click="vm.scan()"	>
                    <i class="icon ion-qr-scanner"></i>
                    Scan Now
                </button>
            </div>
        </div>

        <div class="card">
           <div class="item">
                <button class="button button-block button-positive" ng-click="bc.open()"    >
                    Open URL
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
